/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 14 Dec 2022, 22:37:24
    Author     : christosfysarakis
*/
.img{
      
    width: 10%;
    border-style: solid;
 
    color: white;
    float: right;
 
}

